PORT=3000
NODE_ENV=development
TRUST_PROXY=1

# Google Service Account Credentials
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Google Drive Target Folder ID
GOOGLE_DRIVE_FOLDER_ID=your-folder-id-here

# Cloudflare Turnstile
CF_TURNSTILE_SITE_KEY=your-site-key
CF_TURNSTILE_SECRET_KEY=your-secret-key
DISABLE_TURNSTILE=false
JWT_SECRET=your-jwt-secret-key
